<h1>Create a new Recipe!</h1>
<%= simple_form_for @recipe, link_to: recipes_path, method: 'post' do |f| %>
<%= f.input :name, required: true %>
<%= f.input :description, required: true %>
<%= f.button :submit %>
<% end %>