<div id="outer">
  <div id="inner">
    <% if current_user %>
      <!-- <h1 id="title">Welcome <%= current_user.username %>!</h1> -->
      <% @recipes.each do |recipe| %>
        <h2 id="recipe"><%= link_to recipe.name, recipe_path(id: recipe.id) %></h2>
      <% end %>
      <h3 id="button"><%= link_to "Create new recipe", new_recipe_path %></h3>
      <h2 id="description"></h2>
      </h2>
    <% end %>
  </div>
</div>