<% if current_user %>
<% else %>
	<div class="content">
		<script>
			$(".navbar").removeClass("navbar-default");
			$(".navbar").addClass('navbar-fixed-top');
		</script>
		<div class="welcome">
			<div class="message">
				Making Recipe Searching Easier!
			</div>
			<div class="slogan">
				Start creating, finding, and sharing recipes today!
			</div>
		</div>
		<div class="start-button" href="/users/sign_up">
			Get Started
		</div>
		<script> 
		$(".start-button").on("click", function(){
		    window.location = $(this).attr("href");
		});
		</script>
	</div>
<% end %>