<% if current_user %>
	<script type="text/javascript">
	    window.location.href="/users"  // put your correct path in a string here
	  </script>
<% else %>
	<div class="content">
		<script>
			$(".navbar").removeClass("navbar-default");
			$(".navbar").addClass('navbar-fixed-top');
		</script>
		<div class="welcome">
			<div class="message">
				Welcome to Recipe.io!
			</div>
			<div class="slogan">
				At Recipe.io we aim to make recipe searching easier.
			</div>
		</div>
		<div class="start-button" href="/users/sign_up">
			Get Started
		</div>
		<script> 
		$(".start-button").on("click", function(){
		    window.location = $(this).attr("href");
		});
		</script>
	</div>
<% end %>