body {
  margin: 0px;
}

#outer {
  margin-top: -20px;
  background-image: url(https://static.pexels.com/photos/3329/food-kitchen-cutting-board-cooking.jpg);
  background-size: 100% 1000px;
  background-repeat: no-repeat;
  width: 100%;
  height: 1000px;
}

#title {
  color: white;
  text-align: center;
  padding-top: 50px;
  font-family: 'Raleway', sans-serif;
}

#description {
  color: white;
  text-align: center;
  padding-top: 50px;
  font-family: 'Raleway', sans-serif;
  margin-left: 15%;
  margin-right: 15%;
}
