#recipename {
	color: black;
	text-align: center;
}

#recipedesc {
	color: black;
	text-align: center;
}

#info {
	color: blue;
	margin-left: 25%;
	letter-spacing: 3px;
	word-spacing: 2px;
}

#ingname {
	color: black;
	text-align: center;
}

#stepsname {
	color: black;
	text-align: center;
}